@font-face{
    font-family: Alegra;
    src: url(../fonts/alegra/Alegra\ Font\ by\ 7NTypes.otf);
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #000000c5;
    width: 100%;
    height: 50px;
    z-index: 3;
    padding: 10px;
    text-align: center;
}
.menu{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}

a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }
.banner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.mySlides{
    display: none;
}
.img-area{
    background-image: url(../img/imgprincipal.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.img1-area{
    background-image: url(../img/recuerdo1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.img2-area{
    background-image: url(../img/recuerdo2.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.img3-area{
    background-image: url(../img/recuerdo3.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.text-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: 700px;
}
.text-part{
    width: 75%;
    height: 80%;
    text-align: center;
}
h3{
    font-size: 50px;
}
p{
    font-size: 24px;
    line-height: 50px;
}
.text-area{
    background: #fefefe;
}
html{
    scroll-behavior: smooth;
}
/* LOGO */
.logo{
  flex: 1 1 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 45px;
  margin-top: 0.5%;
  color: white;
}
h1 {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    display: block;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    /* Clip Background Image */
    background: url(../img/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    height: 1.5em;
  }
  
  /* Animate Background Image */
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  /* TEXTOS */
.circle{
    position: relative;
    overflow: hidden;
}
.circle, .img1text{
    float: left;
    border-radius: 50%;
    margin: 10px;
    shape-outside: circle();
    width: 300px;
    height: 300px;
}
/* BOTON */
button {
    margin: 0px auto;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 210px;
    opacity: 1;
    background-color: #3e25ca;
    border: 1px solid rgba(22, 76, 167, 0.6);
  }
  button a {
    color: #f1f5fc;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  button:hover {
    animation: rotate 0.7s ease-in-out both;
  }
  button:hover a {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @keyframes storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  @media(max-width: 415px){
    .menu-button{
      margin: 5px !important;
    }
    .circle, .img1text{
      width: 300px;
      height: 150px;
      border-radius: 0px;
      shape-outside: none;
      margin: 0px auto;
    }
    .text-area{
      height: 600px;
      padding: 15px;
    }
    h3{
      font-size: 30px;
    }
    p {
      font-size: 14px;
      line-height: 30px;
    }
    .text-part{
      height: 90%;
    }
    .img1-area{
      height: 80vh;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      
    }
    .img2-area{
      height: 80vh;
    }
     button{
       width: 180px; 
     }
  }
