@font-face{
    font-family: Alegra;
    src: url(../fonts/alegra/Alegra\ Font\ by\ 7NTypes.otf);
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #000000c5;
    width: 100%;
    height: 70px;
    z-index: 3;
    padding: 10px;
}
.menu{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}
.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 40px;
    margin-top: 1.5%;
    color: white;
}
a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.banner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../img/dark-cosmic-jhin-splash-art-lol-4K-87.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.text-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: 700px;
}
.text-part{
    width: 65%;
    height: 80%;
}
h3{
    font-size: 50px;
}
p{
    font-size: 24px;
    line-height: 50px;
}
.text-area{
    background: #fefefe;
}
html{
    scroll-behavior: smooth;
}
    /* TITULO */

.letter {
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin: 0 0;
    font-family: sans-serif;
    font-size: 90px;
    font-weight: 600;
    line-height: 80px;
    text-transform: uppercase;
    color: #eee;
    text-align: center;
}
.letter:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    word-break: break-all;
    background-color: #1d1f20;
}
    
.letter:nth-child(1):before {
    content: "8149265703";
    margin-top: -480px;
    -webkit-animation-name: letter1;
            animation-name: letter1;
    -webkit-animation-duration: 1.6114285714s;
            animation-duration: 1.6114285714s;
    -webkit-animation-delay: 0.53s;
            animation-delay: 0.53s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
    from {
        margin-top: -480px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter1 {
    from {
        margin-top: -480px;
    }
    to {
        margin-top: 80px;
}
}
.letter:nth-child(2):before {
    content: "4761580923";
    margin-top: -80px;
    -webkit-animation-name: letter2;
            animation-name: letter2;
    -webkit-animation-duration: 1.88s;
            animation-duration: 1.88s;
    -webkit-animation-delay: 0.26s;
            animation-delay: 0.26s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
    from {
        margin-top: -80px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter2 {
    from {
        margin-top: -80px;
    }
    to {
        margin-top: 80px;
    }
}
.letter:nth-child(3):before {
    content: "3710568942";
    margin-top: -400px;
    -webkit-animation-name: letter3;
            animation-name: letter3;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.85s;
            animation-delay: 0.85s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
    from {
        margin-top: -400px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter3 {
    from {
        margin-top: -400px;
    }
    to {
        margin-top: 80px;
    }
}
.letter:nth-child(4):before {
    content: "6425781093";
    margin-top: -80px;
    -webkit-animation-name: letter4;
            animation-name: letter4;
    -webkit-animation-duration: 1.3s;
            animation-duration: 1.3s;
    -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
    from {
        margin-top: -80px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter4 {
    from {
        margin-top: -80px;
    }
    to {
        margin-top: 80px;
    }
}
.letter:nth-child(5):before {
    content: "9376804215";
    margin-top: -160px;
    -webkit-animation-name: letter5;
            animation-name: letter5;
    -webkit-animation-duration: 2.53s;
            animation-duration: 2.53s;
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
    from {
        margin-top: -160px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter5 {
    from {
        margin-top: -160px;
    }
    to {
        margin-top: 80px;
    }
}
.letter:nth-child(6):before {
    content: "1497085326";
    margin-top: -240px;
    -webkit-animation-name: letter6;
            animation-name: letter6;
    -webkit-animation-duration: 1.21s;
            animation-duration: 1.21s;
    -webkit-animation-delay: 0.43s;
            animation-delay: 0.43s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
    from {
        margin-top: -240px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter6 {
    from {
        margin-top: -240px;
    }
    to {
        margin-top: 80px;
    }
}
.letter:nth-child(7):before {
    content: "9643257801";
    margin-top: -160px;
    -webkit-animation-name: letter7;
            animation-name: letter7;
    -webkit-animation-duration: 1.4933333333s;
            animation-duration: 1.4933333333s;
    -webkit-animation-delay: 0.44s;
            animation-delay: 0.44s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
    from {
        margin-top: -160px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter7 {
    from {
        margin-top: -160px;
    }
    to {
        margin-top: 80px;
    }
}
.letter:nth-child(8):before {
    content: "0725948136";
    margin-top: 0px;
    -webkit-animation-name: letter8;
            animation-name: letter8;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter8 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 80px;
}
}
.letter:nth-child(9):before {
    content: "0923574168";
    margin-top: -720px;
    -webkit-animation-name: letter9;
            animation-name: letter9;
    -webkit-animation-duration: 1.476s;
            animation-duration: 1.476s;
    -webkit-animation-delay: 0.59s;
            animation-delay: 0.59s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
    from {
        margin-top: -720px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter9 {
    from {
        margin-top: -720px;
    }
    to {
        margin-top: 80px;
    }
}
.letter:nth-child(10):before {
    content: "3146950287";
    margin-top: -240px;
    -webkit-animation-name: letter10;
            animation-name: letter10;
    -webkit-animation-duration: 0.42s;
            animation-duration: 0.42s;
    -webkit-animation-delay: 0.86s;
            animation-delay: 0.86s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
    from {
        margin-top: -240px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter10 {
    from {
        margin-top: -240px;
    }
    to {
        margin-top: 80px;
    }
}
.letter:nth-child(11):before {
    content: "7590124683";
    margin-top: -640px;
    -webkit-animation-name: letter11;
            animation-name: letter11;
    -webkit-animation-duration: 3.4133333333s;
            animation-duration: 3.4133333333s;
    -webkit-animation-delay: 0.04s;
            animation-delay: 0.04s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
    from {
        margin-top: -640px;
    }
    to {
        margin-top: 80px;
    }
}

@keyframes letter11 {
    from {
        margin-top: -640px;
    }
    to {
        margin-top: 80px;
    }
}

/* LOGO */
h1 {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    display: block;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    /* Clip Background Image */
    background: url(../img/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  
  /* Animate Background Image */
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
