@font-face{
    font-family: Alegra;
    src: url(../fonts/alegra/Alegra\ Font\ by\ 7NTypes.otf);
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #d8e1f573;
    /* background-color: transparent; */
    width: 100%;
    height: 70px;
    z-index: 3;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}
.banner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../img/dark-cosmic-jhin-splash-art-lol-4K-87.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.text-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: 700px;
}
.text-part{
    width: 65%;
    height: 80%;
}
h1{
    font-size: 50px;
}
p{
    font-size: 24px;
    line-height: 50px;
}
.text-area{
    background: #fefefe;
}
html{
    scroll-behavior: smooth;
}
        /* TITULO */

.line{
    position: relative;
    width: 3.5em;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 9em;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-family: Alegra;
}
/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
    from{
        width: 0;
    }
    to{
        width: 3.5em;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}